@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
  font-size: 62.5%;
}

@media(max-width: 998px){
  html{
    font-size: 55%;
  }
}

@media(max-width: 768px){
  html{
    font-size: 45%;
  }
}


::-webkit-scrollbar {
    width: 1rem;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

section{
    padding: 5rem 0;
}
.max_width{
    max-width: 130rem;
    padding: 1rem 8rem;
    margin: auto;
}
.max_width_section{
    max-width: 130rem;
    padding: 7rem 5rem 0;
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 6rem;
    padding-bottom: 2rem;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    left: 50%;
    width: 18rem;
    height: 0.3rem;
    background: #000;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    font-size: 2rem;
    padding: 0 0.5rem;
    background: #fff;
    transform: translateX(-50%);
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0rem 0.6rem 1.2rem -0.2rem, 
    rgba(0, 0, 0, 0.3) 0rem 0.3rem 0.7rem -0.3rem;
}

.navbar .max_width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    padding-top: 1rem;
    border: none;
    border-radius: 1.5rem;

}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #000;
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: 2.5rem;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    width:15rem;
    height:5rem;
    padding-top:3rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
    cursor: pointer;
    background: linear-gradient(266.29deg, #FF9C07 -0.46%, 
        rgba(247, 63, 0, 0.78) 118.81%);
    border-radius: 0rem 0rem 1rem 1rem;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu  styling */
.menu-btn{
    font-size: 2.3rem;
    cursor: pointer;
    display: none;
    padding: 3.0rem;
    text-align: center;
}

.active{
    text-align: center;
    width:15rem;
    height:5rem;
    margin-top: 0;
    padding: 3rem;
    cursor: pointer;
    background: linear-gradient(266.29deg, #FF9C07 -0.46%, 
        rgba(247, 63, 0, 0.78) 118.81%);
    grid-area: 1/1/2/2;
    border-radius: 0rem 0rem 1rem 1rem;
}
.scroll-up-btn{
    position: fixed;
    height: 4.5rem;
    width: 4.2rem;
    background: crimson;
    right: 3rem;
    bottom: 1rem;
    text-align: center;
    line-height: 4rem;
    color: #fff;
    z-index: 9999;
    font-size: 3rem;
    border-radius: 0.6rem;
    border-bottom-width: 0.2rem;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}


/* home section styling */
.home{
    display: flex;
    background: url("banner.jpg") no-repeat center;
    height: 100vh;
    color: #000;
    min-height: 50rem;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max_width_section{
  width: 100%;
  display: flex;
}
.home .max_width_section .row{
  margin-right: 0;
  margin-top: 4rem;
}
.home .home-content .text-1{
    font-size: 6.4rem;
    font-weight: 600;
    font-family: poppins;
    font-style: normal;
}
.home .home-content .text-2{
    font-size: 6.4rem;
    font-weight: 600;
    margin-left: -0.3rem;
    font-family: poppins;
    font-style: normal;
}
/*text-2 mission*/
b{
    background-color: #00d0ff;
    color: white;
}

.arrow img{
    margin-left: 50.0rem;
    margin-top: 0;
}
.home .home-content .text-3{
    font-size: 1.8rem;
    color: #848282;
}

.get_started{
    display: inline-block;
    background: linear-gradient(266.29deg, #FF9C07 -0.46%, 
        rgba(247, 63, 0, 0.78) 118.81%);
    border-radius: .6rem;
    color: #fff;
    font-size: 2.5rem;
    padding: 1.2rem 3.6rem;
    margin-top: 4.0rem;
    font-weight: 400;
    transition: all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.get_started:hover{
    background:linear-gradient(266.29deg, #af6900 -0.46%, 
        rgb(212, 54, 0 , 78%) 118.81%);
    cursor: pointer;
    padding: 1.3rem 3.7rem;
}

.teams img{
    border: none;
    border-radius: 7rem;
    width: 56.2rem;
    height: 44rem;
}

.social_media{
    margin-top: 2rem;
}

.redirect_sm img{
    padding: 2rem 1rem 2rem;
}

.redirect_sm img:hover{
    transform: rotate(-30deg);
  cursor: pointer;
  transition: transform 0.5s;
}

/*......services.......*/


#services{
    background-color: #fef6f0;
    padding-bottom: 5rem;
    padding-top: 12rem;
    width: 100%;
}

.our_services{
    text-align: center;
    font-family: Poppins;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #F59046;
    font-weight: 500;
}

.heading{
    padding-top: 1rem;
    text-align: center;
    font-family: Poppins;
    font-size: 4.8rem;
    font-weight: 500;
}

.service1{
    width: 80vw;
    display: flex;
    justify-content: space-around;
    padding: 4rem;
    background-color: white;
    font-family: poppins;
    margin: 5rem auto auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content1b{
    padding-left: 8rem; 
}
.branding{
    font-style: bold;
    font-size: 2.2rem;
    padding-bottom: 2.0rem;
}

.service2{
    width: 80vw;
    display: flex;
    justify-content: space-around;
    padding: 4.0rem;
    background-color: white;
    font-family: poppins;
    margin: 5.0rem auto auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.web_d{
    font-style: bold;
    font-size: 2.2rem;
    padding-bottom: 2.0rem;
}

.content2a{
    padding-right:8.0rem;
}

.service3{
    width: 80vw;
    display: flex;
    justify-content: space-around;
    padding: 4.0rem;
    background-color: white;
    font-family: poppins;
    margin: 5.0rem auto auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content3b{
    padding-left: 8.0rem; 
}
.seo{
    font-style: bold;
    font-size: 2.2rem;
    padding-bottom: 2.0rem;
}

.service4{
    width: 80vw;
    display: flex;
    justify-content: space-around;
    padding: 4.0rem;
    background-color: white;
    font-family: poppins;
    margin: 5.0rem auto 15.0rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.app_dev{
    font-style: bold;
    font-size: 2.2rem;
    padding-bottom: 2.0rem;
}

.content4a{
    padding-right:8.0rem;
}


/*........About us......*/

#about{
    padding-top: 11.0rem;
}

.about_us{
    text-align: center;
    font-family: Poppins;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #F59046;
    font-weight: 500;
}

.why_us{
    padding-top: 1.0rem;
    padding-bottom: 5.0rem;
    text-align: center;
    font-family: Poppins;
    font-size: 4.8rem;
    font-weight: 500;
}

.content_aboutus{
    display: flex;
    justify-content: space-around;
    padding-left: 5.0rem;
    padding-right: 5.0rem;
}

.c_about2{
    font-family: poppins;
    padding-left: 6.0rem;
    font-style: regular;
    font-size: 2.0rem;
    letter-spacing: 8.5%;
    color:#676262;
}

p{
    color:#676262;
}

/*.......contact us..........*/

#contact{
    background-color: #5b5b5b;
    border: none;
    border-radius: 6.1rem;
}

.contactus{
    padding-top: 4.0rem;
    font-family: poppins;
    font-size: 1.8rem;
    color: white;
    text-align: center;
    font-weight: 500;
}
.heading_contact{
    padding-top: 1.0rem;
    padding-bottom: 3.0rem;
    text-align: center;
    font-family: Poppins;
    font-size: 4.8rem;
    font-weight: 500;
    color: white;
}

.sub_heading{
    text-align: center;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
    padding-bottom: 2rem;

}

.email{
    padding-left: 51.8rem;
    padding-bottom: 2rem; 
}
.mail{
    width: 19.5vw;
    height: 8vh;
    border: none;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.textarea{
    width: 40vw;
    margin: auto;
    padding-left: 13rem;
}

.message{
    border: none;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.send_msg{
    margin-top: 2.5rem;
    margin-left: 51.5rem;
    margin-bottom: 2.5rem;
    padding: .6rem 10.5rem .6rem;
    font-family: poppins;
    font-size: 1.4rem;
    border: none;
    border-radius: 1.0rem;
    background: linear-gradient(266.29deg, #FF9C07 -0.46%, 
        rgba(247, 63, 0, 0.78) 118.81%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

